header {
  position: fixed;
  background-color: antiquewhite;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: 1000; 
  opacity:0.8;
}

body {
  background-color:white;
  margin: 0;
  height:1500px;
}

.link a{
 text-decoration: none;
 padding-left:10px;
 color:inherit;
 font-size: 10px;
}

.link i{
  padding-right: 5px;
}

.fa-apple{
  color: #000000;
}

.fa-spotify{
  color: #1DB954;
}

.fa-youtube{
  color: #FF0000;
}

.fa-twitter{
  color: #1DA1F2;
}

.fa-instagram{
  color: #C13584;
}

.fa-facebook{
  color: #1877f2;
}

.name{
  font-size: 30px;
  padding-left:60px;
  letter-spacing:1px;
}

.header{
 
 cursor: default;
}

.link{
 padding-top: 85px;
 float:legft;
}

.introduction{
  padding-top:160px;
  padding-left:65px;
  
}

.introduction h2{
  border-bottom: 1px solid;
  padding-top:35px;
  cursor: default;
  letter-spacing: 3px;
}

.member a{
  text-decoration: none;
  cursor: pointer;
  padding-top:10px;
  padding-left:15px;
  color:black;
  letter-spacing: 1px;
}

.introduction p{
  cursor: default;
  padding-left: 15px;
  letter-spacing: 1px;
}

.member:hover{
  cursor:default;
}

.text{
  line-height: 50px;
  padding-right:100px ;
}

.member{
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    background-color: antiquewhite;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    z-index: 1000; 
    opacity: 0.8;
  }

  body {
    background-color: white;
    margin: 0;
    height: auto;
  }

  .link {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .introduction {
    padding-top: 120px;
    padding-left: 10px;
  }

  .introduction h2 {
    font-size: 18px;
    padding-top: 25px;
    letter-spacing: 2px;
  }

  .text {
    line-height: 20px;
    padding-right: 5px;
    padding-right:10px;
  }

  .name h1{
    font-size: 50px;
    padding-left: 10px;
  }
}

